@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

section {
    background-color: #008181;
    border-radius: 50px;
}

.flex {
    display: flex;
}

.flex-item {
    flex: 1;
}

form {
    margin-top: 166px;
    padding: 35px;
    flex-direction: column;
    gap: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

.form-group-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-group-wrap .form-group {
    flex: 1;
}

.form-group label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22.9075px;
    line-height: 23px;
    color: #FFFFFF;
}

.form-group textarea,
.form-group input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.0353px;
    line-height: 23px;
    padding: 5px;
}

.form-group textarea::placeholder,
.form-group input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.0353px;
    line-height: 23px;
    color: #9E9E9E;
}